/*	Generales	*/
body {
	background: #0d1117;
}

.cuerpo {
	width: 21%;
	margin: 0 auto;
	border: 2px solid #30363d;
	color: #0d1117;
	border-radius: 5px;
	font-size: xxx-large;
}

#calculadora {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}



/*	Pantalla	*/
#pantalla-cuerpo {
	width: 21%;
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #c9d1d9;
}

#pantalla-historico { 
	font-size: xx-large;
	padding-left: 1%;
}

#pantalla-valor {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	font-size: xxx-large;
	padding-right: 1%;
}



/*	Teclado	*/
#teclado {
	height: 55vh;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 20% 20% 20% 20% 20%;
	justify-items: center;
	align-items: center;
}

.teclas { 
	cursor: pointer;
	padding: 20% 30% 20% 30%;
}

#tecla-sumar { grid-area: 2 / 4 / 4 / 4 }
#tecla-1 { grid-column-start: 1; grid-column-end: 1; }
#tecla-0 { grid-column-start: 1; grid-column-end: 3; }
#tecla-intro { grid-area: 4 / 4 / 6 / 4}



/*	Colores filas 	*/
.fila-5 { color: #24ad60; }
.fila-4 { color: #3f5da2; }
.fila-3 { color: #874b9d; }
.fila-2 { color: #af3280; }
.fila-1 { color: #d91d40; }



/*	Media Queries	*/
@media (max-width: 1300px) {
	.cuerpo { font-size: xx-large; }
	#pantalla-historico { font-size: large; }
	#pantalla-valor { font-size: xx-large; }
}

@media (max-width: 850px) {
	.cuerpo { font-size: x-large; }
	#pantalla-historico { font-size: large; }
	#pantalla-valor { font-size: xx-large; }
}

@media (max-width: 650px) {
	.cuerpo { font-size: large; }
	#pantalla-historico { font-size: smaller; }
}

@media (max-width: 500px) {
	.cuerpo { font-size: small; }
	#pantalla-valor { font-size: small; }
}